*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}


body{
    background: linear-gradient(135deg, #000000, #3873b7);
}

header{
    background-color: #000000ea;
    height: 15vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #133e6d;
}

header .logoSenai{
    width: 9rem;
}

header .logo2RP{
    width: 8rem;
}

ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
}

li a:hover{
    color: #3b8be1;
    transition:0.4s;
}

.pg1{
    display: flex;
}

.espacoEmbaixoDoHeader{
    height: 10vh;
}

.textTT{
    margin-block: 2vh;
}

.ladoTitulo{
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8vw;
}

.partezinhaTopo{
    display: flex;
    align-items: center;
    margin-top: 3vh;
    gap: 20px;
}

.ladoTitulo button{
    width: 12vw;
    height: 6vh;
    border-radius: 8px;
    border: 1px solid #3b8be1;
    background-color: #000000;
    font-size: 0.9rem;
    color: #3b8be1;
}

.ladoTitulo button:hover{
    background-color: #246cb870;
    color: white;
    border-color: white;
    cursor: pointer;
    transition:0.4s;
}

.iconeLinkedinTopo{
    height: 32px;
    width: 32px;
}

.iconeLinkedinTopo img{
    width: 100%;
}

.ladoFoto{
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
}

.ladoFoto img{
    width: 22rem;
    padding-left: 2vw;
}

.foto{
    width: 38vw;
    height: 70vh;
    margin-left: 4vw;
    background-image: url(../img/myPicture.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px solid #3b8be1;
}

.foto{
    box-shadow:
    0 0 20px rgba(59,130,246,0.6),
    0 0 60px rgba(59,130,246,0.6),
    0 0 120px rgba(59,130,246,0.4);
}

h1, h2{
    color: #3B8CE1;
}

.ladoTitulo h1{
    font-weight: 800;
    font-size: 5.7rem;
}

.ladoTitulo a, .ladoTitulo p{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

a{
    text-decoration: none;
    color: white;
}

.tracinho{
    width: 8vw;
    height: 0.5vh;
    background-color: #3873b7;
}

.pg2{
    height: 127vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.topoPg2{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.topoPg2 h1{
    font-size: 3rem;
    margin-top: 10vh;
    color: white;
}

.textoSobre{
    margin-top: 6vh;
    width: 80vw;
    display: flex;
    text-align: justify;
    margin-bottom: 15vh;
}

.boxCards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 98.8vw;
    height: 60vh;
    background-color: #0000006e;
    border: 2px solid #133e6d;
}

.cardsSkills{
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.card{
    width: 13vw;
    height: 28vh;
    background-color: #083565;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;

    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px #2c77cd30;
}

.imagemSkill{
    width: 7vw;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill1{
    width: 65px;
}

.skill2, .skill3{
    width: 67px;
}

.skill4, .skill6{
    width: 80px;
}

.skill5{
    width: 90px;
    padding-bottom: 15px;
}

.tTopo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}





.pg3{
    padding-top: 20vh;
    height: 230vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: linear-gradient(220deg, #213e5f, #000000);
}

.topoPg3{
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.topoPg3 h1{
    font-size: 4rem;
    color: white;
}

.textoSobre2{
    margin-top: 5vh;
    width: 70vw;
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-items: center;
}

.textoSobre2 h2{
    margin-bottom: 2vh;
}

.experience{
    margin-top: 15vh;
    height: 300vh;
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.expContainer{
    width: 83vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cardExp{
    background-color: black;
    width: 39vw;
    height: 62vh;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 50px;
}

.imagemFundoCardExp{
    width: 100%;
    height: 45%;
}

#if1{
    background-image: url(../img/experiencia/aqua1.png);
    background-size: 505px;
    background-position: top;
}

#if2{
    background-image: url(../img/experiencia/biblio.png);
    background-size: cover;
    background-position: top;
}

#if3{
    background-image: url(../img/experiencia/sesiEstudos.png);
    background-size: 400px;
    background-position: top;
}

#if4{
    background-image: url(../img/experiencia/image.png);
    background-size: 480px;
    background-position: top;
}

.textosCardExp{
    width: 100%;
    height: 55%;
    padding: 20px 25px 25px;
}

.textosCardExp h2{
    color: white;
    padding-bottom: 1.7vh;
    font-size: 1.2rem;
}

.textosCardExp p{
    color: #6d8ca7;
    padding-bottom: 0.7vh;
    font-size: 0.8rem;
}

.areaTechUtilizadas{
    display: flex;
    padding-bottom: 0.5vh;
    gap: 10px;
}

.techUtilizada{
    background-color: #191b34d4;
    color: #5E61E8;
    margin-block: 2vh;
    padding: 3px 10px;
    font-size: 0.7rem;
    border-radius: 4px;
    font-weight: 500;
}

.techUtilizada:hover{
    background-color: #23253e;
    color: #7173de;
}

.areaBotoesCard{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.verProjeto{
    background-color: #6366F1;
    width: 100%;
    height: 6.5vh;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoGitCard{
    border-radius: 5px;
    border: 1px solid #383838;
    width: 13%;
    height: 6.5vh;
    background-image: url(../img/igit.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}




















footer{
    height: 86vh;
    background-color: white;
    color: #3B8CE1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ladoEsquerdoFooter{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ladoDireitoFooter{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxContato{
    width: 22vw;
    height: 60vh;
    background-color: #3B8CE1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
}

.boxContato h2{
    color: white;
}

.cardCont{
    display: flex;
    align-items: center;
}

.cardCont a{
    display: flex;
    align-items: center;
    padding-left: 4.5vw;
    gap: 1vw;
}

.imagemFooter{
    background-color: white;
    width: 4vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

#i1 img{
    width: 2.5rem;
}

#i2 img{
    width: 2.5rem;
}

#i3 img{
    width: 2.5rem;
}

#i4 img{
    width: 2rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.formulario input, .formulario textarea{
    margin-bottom: 2vh;
    padding: 2vh;
    border: 1px solid #b1d7ff;
    border-radius: 5px;
}

.botaoForm{
    display: flex;
    justify-content: center;
}

footer button{
    margin-top: 3vh;
    width: 15vw;
    height: 8vh;
    border-radius: 8px;
    border: none;
    background-color: #3B8CE1;
    font-size: 1.2rem;
    color: white;
}

footer button:hover{
    background-color: #2b6db3;
    cursor: pointer;
    transition:0.4s;
}



